<ul>
    <li *ngFor="let user of userlist">
        <div>{{ user.username }}</div>
        <div *ngIf="!myself.isInGame">
            <div *ngIf="!user.isInGame">
                <button *ngIf="!user.isMe" (click)="askChallenge($event.target.id)" id="{{ user.username }}">Défier !</button>
            </div>
        </div>
    </li>
    <button *ngIf="challengeAsker" (click)="acceptChallenge($event.target.id, true)" [id]="challengeAsker.username">Accepter</button>
    <button *ngIf="challengeAsker" (click)="acceptChallenge($event.target.id, false)" [id]="challengeAsker.username">Refuser</button>
    <button (click)=debug()>Debug</button>
</ul>